/* General utilities goes here. */

/* Layout related utilities */
.flow-content > * + * {
    margin-top: $flow-space;
}
.flow-content-large > * + * {
    margin-top: calc(flow-space * 2);
}
.container {
    padding: $gutter;
    max-width: 1500px;
    margin: 0 auto;

    @media(min-width: $break-small) {
        padding: $gutter 0;
        width: 80%;
    }
    @media(min-width: $break-medium) {
        width: 70%;
    }
    @media(min-width: $break-large) {
        width: 60%;
    }
}

.flex {
    display: flex;
    flex-direction: column;
}
.flex > * + * {
    margin: ($flow-space * 2) 0 0 0;
}
@media (min-width: $break-medium) {
    .flex {
      flex-direction: row;
    }

    .flex > * + * {
      margin: 0 0 0 $flow-space;
    }
}

.round {
    border-radius: 3px;
}
.rounded {
    border-radius: 100vw;
}
.section {
    padding: 1rem 0;
}
.shadow {
    box-shadow: 6px 4px 25px rgba($clr-dark, 0.2);
}


// Colors utilities
[class*="bg-"] {
    background-color: var(--background-bg);
    color: var(--foreground-bg);
}
.bg-dark {
    --background-bg: #{$clr-dark};
    --foreground-bg: #{findColorInvert($clr-dark)};
}
.bg-white {
    --background-bg: #{$clr-white};
    --foreground-bg: #{findColorInvert($clr-white)};
}
.bg-accent {
    --background-bg: #{$clr-accent};
    --foreground-bg: #{findColorInvert($clr-accent)};
}