/* Global Variables */

$base-font: 'Roboto', sans-serif;

// Colors
$clr-accent: #8EDEB5; // Primary color
$clr-warning: #F5BD50;
$clr-danger: #DE5769;
$clr-success: #9FF098;
$clr-link: #638CF5;
$clr-info: #5358F5;
$clr-light: hsl(0, 0%, 96%);
$clr-white: #ffff;
$clr-dark: hsl(0, 0%, 21%);

$bg-body:hsl(0, 0%, 96%);
$body-fs: 1em; // font-size
$body-line-h: 1.6;
$clr-text: $clr-dark;

//layout
$flow-space: 1rem;
$pad: 1rem; // usar para padding en components.

// Breakpoints
$gutter: 1rem;
$break-xsmall: 769px;
$break-small: 960px;
$break-medium: 1152px;
$break-large: 1344px;